* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #181719;
  --badge: #ff6d5b;
  --wip-color: #2d9cdb;
  --white001: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 1rem;
  color: var(--white001);
}

header {
  padding-top: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

h1 a {
  color: var(--badge);
}

p {
  width: 88%;
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

p a {
  color: var(--badge);
  border-radius: none;
}

.nav__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav {
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.nav h3 {
  margin-bottom: 1rem;
}

.nav li {
  list-style: none;
}

.nav li:not(:last-child) {
  padding-bottom: 1rem;
}

li a {
  text-decoration: none;
  color: var(--white001);
  font-size: 1rem;
  padding: 0.5rem;
}

.create__space {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.new::after,
.wip::after {
  font-style: italic;
}
.new::after {
  content: "new";
  color: var(--badge);
}

.wip::after {
  content: "wip";
  color: var(--wip-color);
}

.soon a {
  color: #828282;
}

.soon::after {
  content: "coming soon";
  color: var(--wip-color);
}

@media (hover: hover) {
  a:hover {
    background: var(--badge);
    border-radius: 10px;
  }

  h1 a:hover,
  p a:hover {
    background: none;
  }

  .soon a:hover {
    background: none;
  }
}

@media screen and (min-width: 500px) {
  body {
    padding: 0;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.075rem;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .nav__group {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav h3 {
    font-size: 1.75rem;
  }

  li a {
    font-size: 1.5rem;
  }

  .new::after,
  .wip::after,
  .soon::after {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
