* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #181719;
  --badge: #ff6d5b;
  --wip-color: #2d9cdb;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 0 1rem;
}

ul li {
  list-style: none;
}

ul li:not(:last-child) {
  padding-bottom: 1rem;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.new::after,
.wip::after {
  font-style: italic;
  font-size: 1.25rem;
}
.new::after {
  content: "new";
  color: var(--badge);
}

.wip::after {
  content: "wip";
  color: var(--wip-color);
}

@media (hover: hover) {
  a:hover {
    background: var(--badge);
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) {
  body {
    padding: 0;
  }

  li a {
    font-size: 2rem;
  }
  .new::after,
  .wip::after {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
}
