* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --white001: #ffffff;
  --gray001: #4f4f4f;
  --gray002: #828282;
  --gray003: #c4c4c4;
  --gray004: #f2f2f2;
  --primary: #5c94e1;
  --progress: rgba(47, 128, 237, 70%);

  /* Border radius */
  --border-radius: 12px;
  /* margin*/
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--gray004);
  margin: 1rem;
  color: var(--gray001);
}

img {
  display: block;
}

.profile__card {
  background-color: var(--white001);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
}

.profile__avatar {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  height: 20rem;
  margin-bottom: var(--margin-medium);
}

.profile__avatar img {
  width: 100%;
}

.profile__info {
  margin-bottom: var(--margin-medium);
}
.profile__info p:first-child {
  font-weight: 600;
  font-size: 1.25rem;
}

.profile__info p:last-child,
.profile__description {
  color: var(--gray002);
  font-size: 0.875rem;
  width: 80%;
}

.profile__contact {
  margin-bottom: var(--margin-medium);
}

.contact__email,
.contact__phone {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-small);
}
.contact__email img,
.contact__phone img {
  margin-right: var(--margin-small);
}
