* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --white001: #ffffff;
  --gray001: #4f4f4f;
  --gray002: #828282;
  --gray003: #c4c4c4;
  --gray004: #f2f2f2;
  --gray005: #e0e0e0;
  --primary: #5c94e1;
  --progress: rgba(47, 128, 237, 70%);

  /* Border radius */
  --border-radius: 12px;
  /* margin*/
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 1.5rem;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--gray004);
  margin: 1rem;
  color: var(--gray001);
}

img {
  display: block;
}

.card {
  background-color: var(--white001);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  margin-bottom: var(--margin-medium);
}

/* Profile card styles */
.profile__card {
  margin-bottom: var(--margin-medium);
}
.profile__avatar {
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  height: 20rem;
  margin-bottom: var(--margin-medium);
}

.profile__avatar img {
  width: 100%;
  object-fit: cover;
}

.profile__info {
  margin-bottom: var(--margin-medium);
}
.profile__info p:first-child {
  font-weight: 600;
  font-size: 1.25rem;
}

.profile__info p:last-child,
.profile__description {
  color: var(--gray002);
  font-size: 0.875rem;
  width: 80%;
}

.profile__contact {
  margin-bottom: var(--margin-medium);
}

.contact__email,
.contact__phone {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-small);
}
.contact__email img,
.contact__phone img {
  margin-right: var(--margin-small);
}

/* Skills cards styles */
.skills {
  margin-bottom: var(--margin-medium);
}
.skills__card h4 {
  text-transform: uppercase;
  margin-bottom: var(--margin-medium);
}

.tech__skill {
  display: flex;
  align-items: center;
  margin-bottom: var(--margin-medium);
}

.tech__scale {
  margin-left: auto;
  border-radius: 7px;
  width: 60%;
  height: 0.5rem;
  background-color: var(--gray003);
}

.tech__percent {
  height: 0.5rem;
  border-radius: 5px;
  background-color: var(--progress);
}

/* Different levels for progress bar */
.react {
  width: 60%;
}

.javascript {
  width: 83%;
}

.css {
  width: 95%;
}

.vue {
  width: 56%;
}

.redux {
  width: 75%;
}

.reactnative {
  width: 93%;
}

.figma {
  width: 60%;
}

.photoshop {
  width: 83%;
}

/* Styles for project cards */

.project__card {
  margin-bottom: var(--margin-large);
}

.project__card p {
  color: var(--gray002);
}
.project__cover {
  width: 100%;
  height: 15rem;
  margin-bottom: var(--margin-medium);
  border-radius: var(--border-radius);
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.project__cover img {
  width: 100%;
  height: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__tag {
  display: flex;
}

.project__tag > p {
  margin-right: var(--margin-small);
  margin-bottom: var(--margin-medium);
}

.project__title {
  margin-bottom: var(--margin-medium);
}

.project__details {
  margin-bottom: var(--margin-large);
}

button {
  border: none;

  margin-right: var(--margin-small);
}

button a {
  text-decoration: none;
  color: var(--progress);
  border-radius: var(--border-radius);
  border: 1px solid var(--progress);
  background-color: var(--white001);
  padding: 0.5rem 2rem;
}

.btn--primary a {
  background-color: var(--progress);
  color: var(--white001);
  border: none;
}

/* Styles for blog section */

.blog__tag,
.blog__platform {
  color: var(--gray005);
  font-size: 0.825rem;
  margin-bottom: var(--margin-medium);
}

.blog__cover {
  display: flex;
  overflow: hidden;
  margin-bottom: var(--margin-medium);
}

.blog__title {
  width: 50%;
}
.blog__title h2 {
  font-weight: 500;
}

.blog__image {
  width: 60%;
  transform: translateX(5%);
  height: 11rem;
  overflow: hidden;
}

.blog__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__details {
  margin-bottom: var(--margin-large);
}
.blog__details p {
  color: var(--gray002);
  margin-bottom: var(--margin-medium);
  padding-right: 1rem;
}

.card--blog {
  padding-right: 0;
}

.blog__platform {
  color: var(--progress);
}
