* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --dark-black: #000000;
  --light-gray: #a9a9a9;

  /* offset */
  --offset-mobile: 2.5rem;
  --offset-desktop: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 2rem 1rem;
  color: var(--dark-black);
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-black);
  transition: 0.3s ease-out color;
}

a:hover {
  color: var(--light-gray);
}

img {
  display: block;
}

h1,
.card__position {
  font-family: "PT Serif", serif;
}

.team__info {
  margin-bottom: 3rem;
}
.team__header {
  margin-bottom: 1.5rem;
}

.team__about {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding-bottom: calc(3rem + var(--offset-mobile));
}

.card {
  display: grid;
  grid-template-columns: 1fr 5%;
  grid-row: span 3;
  gap: 0.5rem;
}

.card__image {
  margin-bottom: 0.5rem;
}
.card__image img {
  width: 100%;
}

.card__name {
  font-weight: 600;
}
.card__position p {
  writing-mode: vertical-rl;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.card:nth-child(2n) {
  transform: translateY(var(--offset-mobile));
}

footer {
  text-align: center;
  font-size: 0.75rem;
}
@media screen and (min-width: 700px) {
  body {
    padding-top: 3rem;
    padding-bottom: 1rem;
    max-width: 980px;
    margin: 0 auto;
  }

  .team__info {
    display: flex;
    margin-bottom: 5rem;
  }

  .team__info h1 {
    width: 50%;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: calc(3rem + var(--offset-desktop));
  }

  .card:nth-child(2) {
    transform: translateY(var(--offset-mobile));
  }

  .card:nth-child(5) {
    transform: translateY(var(--offset-desktop));
  }
}
