* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary: #2d9cdb;
  --dark-green: #27ae60;
  --pinkish-red: #eb5757;
  --dark-blue: #100e1d;
  /* Neutral colors */
  --white001: #ffffff;
  --gray001: #828282;
  --gray002: #e0e0e0;
  --gray003: #bdbdbd;
  --gray004: #f2f2f2;
  --gray005: #a9a9a9;
  --black001: #333333;
  --black002: #4f4f4f;

  /* Animation */
  --customAnimation: cubic-bezier(0.465, 0.183, 0.153, 0.946);

  /* Space */
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --x-large: 2rem;
  --xx-large: 3.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: var(--black001);
}

p {
  font-weight: 400;
  color: var(--black002);
}

header,
.service,
.work,
.team,
.user__review {
  padding: 1rem 1rem 0 1rem;
}

header,
section {
  margin-bottom: var(--xx-large);
}

/* Header */
/* Mobile navigation */

.nav__desktop {
  display: none;
}
.nav__mobile {
  margin-bottom: var(--xx-large);
}

.logo a {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  color: var(--black001);
  font-size: 1.5rem;
}

.nav__mobile {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
  z-index: 11;
}

.line {
  width: 1.75rem;
  height: 3px;
  background-color: var(--black001);
  position: relative;
}

.line:not(:last-child) {
  margin-bottom: 5px;
}

.nav__links {
  z-index: 10;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  background: var(--gray002);
  clip-path: circle(50px at 105% 10%);
  -webkit-clip-path: circle(50px at 105% -10%);
  transition: all 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.nav__links.open {
  clip-path: circle(1000px at 105% -10%);
  -webkit-clip-path: circle(1000px at 105% -10%);
  pointer-events: all;
}

.nav__links li {
  margin-bottom: var(--medium);
}

.nav__links a {
  color: var(--black001);
  font-weight: 600;
}

/* Hero section */
.hero__title {
  display: flex;
  flex-direction: column;
}
.hero__title,
.hero__mission,
.signup {
  padding: 0 var(--x-large);
  margin-bottom: var(--medium);
}

.hero__mission {
  margin-bottom: var(--x-large);
}
.hero h1 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 0.75rem;
}

.hero__title p {
  order: -1;
  color: var(--primary);
  font-weight: 500;
}

.hero__image {
  width: 100%;
  height: 10rem;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: var(--large);
}

.hero__image img {
  height: 100%;
}

.hero__mission h1 {
  width: 80%;
  margin-bottom: var(--medium);
}

.signup__question {
  color: var(--gray001);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  border: none;
  background-color: var(--gray004);
  padding: var(--medium);
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
}

.signup__group {
  position: relative;
}

.button {
  top: 0.25rem;
  right: 0.25rem;
  position: absolute;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 0.5rem 1.25rem;
  color: var(--gray004);
}
/* Ending header */

/* Card/Service Section */
.service__title {
  margin-bottom: var(--x-large);
}
.card {
  border-radius: 20px;
  background-color: var(--white001);
  padding: var(--medium) var(--x-large);
  margin-bottom: var(--xx-large);
}

.card h1 {
  font-weight: 700;
  margin-bottom: var(--large);
}

.card__image {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img {
  width: var(--large);
}

.card--primary {
  background-color: var(--primary);
}

.card--secondary {
  background-color: var(--dark-green);
}

.card--danger {
  background-color: var(--pinkish-red);
}
.card__image,
.card__title,
.card__description {
  margin-bottom: var(--large);
}

.card__link a {
  border-radius: 10px;
  padding: var(--small);
  background-color: #e0e0e0;
  color: var(--gray001);
}
/* Ending Card/Service Section */

/* Work Section */
.work h1 {
  margin-bottom: var(--xx-large);
  width: 90%;
}

.work__card {
  margin-bottom: 2.5rem;
}

.work__card p {
  font-size: 0.75rem;
  color: var(--gray001);
}
.work__image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: var(--small);
}

.work__image img {
  width: 100%;
}

.see {
  display: flex;
}

.see p {
  margin-left: var(--small);
}

.see a {
  color: #2d9cdb;
}
/* Ending Work section */

/* Start of team section */
.team,
.team__about {
  display: flex;
  flex-direction: column;
}

.team__about {
  margin-bottom: var(--x-large);
}

.team__meet {
  font-weight: 500;
  order: -1;
  color: var(--pinkish-red);
  margin-bottom: var(--small);
}

.team h1 {
  font-size: 2rem;
  width: 80%;
  margin-bottom: var(--medium);
}

.team__info {
  color: var(--black002);
  font-weight: 400;
  width: 80%;
}

.team__member img {
  border-radius: 20px;
  width: 100%;
}

.team__photo {
  display: flex;
}

.first--member {
  transform: translateY(80px);
  margin-right: var(--small);
}

.second--member {
  margin-bottom: var(--small);
  margin-right: var(--medium);
}
/* Ending team section */

/* Starting user review section */
.user__review h2 {
  margin-bottom: var(--x-large);
}

.user__profile {
  display: flex;
  align-items: center;
}

.user__image {
  border-radius: 20px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: var(--medium);
}

.user__image img {
  width: 100%;
}

.user__name,
.user__title {
  font-weight: 500;
}
.user__name {
  font-size: 1.25rem;
  color: var(--black001);
  margin-bottom: var(--small);
}

.user__title {
  color: var(--gray001);
}
/* Ending user review section */

/* Starting of Footer */
footer {
  padding: var(--x-large);
  background-color: var(--dark-blue);
}

footer ul {
  margin-bottom: var(--x-large);
}

footer li a {
  display: block;
  padding-bottom: var(--small);
}

footer a {
  color: var(--white001);
}

.logo--light a {
  color: var(--white001);
  font-size: 2rem;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: var(--xx-large);
}

.social img:not(:last-child) {
  margin-right: var(--small);
}

footer .signup {
  padding: 0;
  margin-bottom: var(--xx-large);
}

.created {
  text-align: center;
  font-size: 0.75rem;
}

.created a {
  color: var(--gray005);
}
