* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary: #2d9cdb;
  --dark-green: #27ae60;
  --pinkish-red: #eb5757;
  --dark-blue: #100e1d;
  /* Neutral colors */
  --white001: #ffffff;
  --gray001: #828282;
  --gray002: #e0e0e0;
  --gray003: #bdbdbd;
  --gray004: #f2f2f2;
  --gray005: #a9a9a9;
  --black001: #333333;
  --black002: #4f4f4f;

  /* Animation */
  --customAnimation: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 1rem;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--black001);
}

p {
  font-weight: 400;
  color: var(--black002);
}

/* Header */
/* Mobile navigation */
.nav__mobile {
  margin-bottom: 2rem;
}
.nav__mobile,
.nav__desktop {
  display: flex;
}

.nav__desktop {
  display: none;
}
.menu {
  margin-left: auto;
}

.menu img,
.menu__close img {
  width: 1.5rem;
}

.logo a {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  color: var(--black001);
}

.menu__open {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--gray002);
  animation: opening 0.5s var(--customAnimation) normal;
  text-align: center;
  z-index: 10;
}

.menu__open li:not(:last-child) {
  margin-bottom: 1rem;
}

.menu__open a {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--black001);
}

.menu__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Menu open animation  */
@keyframes opening {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* Hero section */
.hero__title {
  display: flex;
  flex-direction: column;
}
.hero__title,
.hero__mission,
.signup {
  padding: 0 2rem;
  margin-bottom: 1rem;
}
.hero h1 {
  font-size: 1.5rem;
}

.hero p {
  font-size: 0.75rem;
}

.hero__title p {
  order: -1;
  color: var(--primary);
  font-weight: 500;
}

.hero__image {
  width: 100%;
  height: 8rem;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.hero__image img {
  height: 100%;
  object-fit: cover;
}

.hero__mission h1 {
  width: 80%;
  margin-bottom: 1rem;
}

.signup {
  margin-bottom: 3rem;
}
.signup__question {
  color: var(--gray001);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  border: none;
  background-color: var(--gray004);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  font-size: 1rem;
}

.signup__group {
  position: relative;
}

.button {
  top: 0.25rem;
  right: 0.25rem;
  position: absolute;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 0.5rem 1.25rem;
  color: var(--white001);
}
/* Ending header */

/* Card/Service Section */
.service h1 {
  margin-bottom: 1rem;
}

.card {
  border-radius: 20px;
  background-color: var(--white001);
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

.card h1 {
  font-weight: 700;
}

.card__image {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img {
  width: 1.5rem;
}

.card--primary {
  background-color: var(--primary);
}

.card--secondary {
  background-color: var(--dark-green);
}

.card--danger {
  background-color: var(--pinkish-red);
}
.card__image,
.card__title,
.card__description {
  margin-bottom: 1rem;
}

.card__link a {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #e0e0e0;
  color: var(--gray001);
}
/* Ending Card/Service Section */

/* Work Section */
.work {
  margin-bottom: 3rem;
}
.work h1 {
  margin-bottom: 2rem;
  width: 90%;
}
.work__card {
  margin-bottom: 2rem;
}

.work__card p {
  font-size: 0.75rem;
  color: var(--gray001);
}
.work__image {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.work__image img {
  width: 100%;
}

.see {
  display: flex;
}

.see p {
  margin-left: 0.5rem;
}

.see a {
  color: #2d9cdb;
}
/* Ending Work section */

/* Start of team section */
.team {
  margin-bottom: 3rem;
}
.team,
.team__about {
  display: flex;
  flex-direction: column;
}

.team__about {
  margin-bottom: 2rem;
}
.team__meet {
  font-weight: 500;
  order: -1;
  color: var(--pinkish-red);
  margin-bottom: 1rem;
}

.team h1 {
  width: 60%;
  margin-bottom: 1rem;
}

.team__info {
  color: var(--black002);
  font-weight: 400;
  width: 80%;
}

.team__member img {
  border-radius: 20px;
  width: 100%;
}

.team__photo {
  display: flex;
}

.first--member {
  transform: translateY(80px);
  margin-right: 0.5rem;
}

.second--member {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
/* Ending team section */

/* Starting user review section */
.user__review {
  margin-bottom: 3rem;
}
.user__review h3 {
  margin-bottom: 2rem;
}

.user__profile {
  display: flex;
}
.user__image {
  border-radius: 20px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  margin-right: 1rem;
}

.user__image img {
  width: 100%;
}
/* Ending user review section */

/* Starting of Footer */
footer {
  background-color: var(--dark-blue);
}

footer ul {
  margin-bottom: 2rem;
}

.footer li:not(:last-child) {
  margin-bottom: 1rem;
}

footer a {
  color: var(--white001);
}

.logo--light a {
  color: var(--white001);
  font-size: 1.5rem;
}

.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 3rem;
}

footer .signup {
  margin: 0;
  padding-bottom: 3rem;
}

.created {
  text-align: center;
  font-size: 0.875rem;
  padding-bottom: 1rem;
}

.created a {
  color: var(--gray005);
}
