* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --menu-color: #fafbfd;
  --gray001: #9e9e9e;
  --gray002: #4f4f4f;
  --gray003: #333333;
  --gray004: #828282;
  --gray005: #f2f2f2;
  --black001: #090f31;

  --accent: #f7542e;
  --primary: #2962ff;
  --alert: #d32f2f;
}

/* Restart */

body {
  font-family: "Noto Sans JP", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  color: var(--gray002);
}

/* Navigation settings */
.nav__group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  width: 100%;
}

.nav__logo {
  color: var(--black001);
  font-size: 1.25rem;
  margin: 0 auto;
}

.nav__logo--accent {
  color: var(--accent);
}

nav {
  background-color: var(--menu-color);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(-100%);
  transition: 0.3s ease-out all;
}

.open {
  transform: translateX(0%);
}

.nav__list {
  margin-top: 3rem;
}

.nav__item {
  margin-bottom: 1rem;
  text-align: center;
}

.nav__item a {
  color: var(--gray001);
}

.nav__item--active a {
  color: var(--black001);
}

/* Section styles */
section {
  padding: 0 1rem;
}

section h2 {
  margin-bottom: 2rem;
}

.input__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.input__item {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.input__state {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

.input__state--main {
  color: var(--gray003);
}

.input__state--secondary {
  color: var(--gray004);
}

.label__text {
  font-size: 0.875rem;
  color: var(--gray003);
}

textarea,
input {
  outline: none;
}

input {
  border: 1px solid var(--gray004);
  -webkit-appearance: none;
  border-radius: 10px;
  padding: 1rem 0.5rem;
}

input::placeholder {
  color: var(--gray004);
  font-weight: bold;
}

.label__text--primary {
  color: var(--primary);
}

.input--primary {
  border: 1px solid var(--primary);
}

.label__text--error {
  color: var(--alert);
}

.input--error {
  border: 1px solid var(--alert);
}

.input--disabled {
  background-color: var(--gray005);
}

.helper__text {
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: var(--gray004);
}

.helper__text--error {
  color: var(--alert);
}

.input__icon {
  position: relative;
}

.input__icons {
  position: absolute;
  top: 0.75rem;
}

.input__icons--start {
  left: 0.5rem;
}
.input__icon--start {
  padding-left: 2.5rem;
  width: 86%;
}

.input__icons--end {
  right: 0.5rem;
}

.input__text::placeholder {
  color: var(--gray003);
}

.input--sm {
  padding: 0.5rem;
}

.input--full {
  width: 100%;
}

.input__item--full {
  width: 100%;
}

textarea {
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid var(--gray004);
}

textarea::placeholder {
  color: var(--gray004);
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
  }

  .nav__group--mobile {
    display: none;
  }

  .nav__menu--close {
    display: none;
  }

  nav {
    transform: translateX(0);
    width: 15rem;
    height: 100%;
    position: relative;
  }

  .nav__logo {
    margin: 0;
  }

  .nav__group {
    justify-content: flex-start;
    padding-left: 3rem;
  }

  .nav__list {
    width: 100%;
    padding-left: 3rem;
  }
  .nav__item {
    text-align: left;
  }

  section {
    margin-left: 2rem;
    width: 100%;
  }
}
