* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --primary: #f7df94;
  --light001: #f2f2f2;
  --gray001: #a9a9a9;
  --gray002: #828282;
  --dark001: #4f4f4f;
  --dark002: #333333;
  --dark003: #000000;

  /* Sizing */
  --x-small: 0.5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
  --x-large: 2.5rem;
  --xx-large: 3rem;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.open {
  overflow-y: scroll;
}

img {
  display: block;
}

.generate__new {
  padding: var(--large) var(--small);
  display: flex;
  justify-content: flex-end;
}

.random__quote {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: var(--small);
  color: var(--dark002);
  font-size: 1.25rem;
}

.random__quote span {
  margin-left: var(--x-small);
}

.back {
  margin-right: var(--x-small);
}

.quote {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 30rem;
  padding: 0 var(--small);
  transform: translateY(var(--large));
}

.quote__text {
  font-size: var(--medium);
  margin-bottom: var(--large);
  padding-left: var(--small);
  border-left: 3px solid var(--primary);
}

.quote__about {
  position: relative;
  padding: var(--small);
  transition: 0.2s ease-in all;
}

.quote__about::after {
  content: url(../icons/arrow_right_alt-black-18dp.svg);
  position: absolute;
  right: var(--small);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.quote__author {
  font-weight: 700;
  color: var(--dark001);
  margin-bottom: var(--x-small);
}

.quote__genre {
  font-size: 0.875rem;
  color: var(--gray002);
}

.all__quotes {
  background-color: var(--light001);
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  transform: translateX(100%);
}

.is-open {
  transform: translateX(0);
  transition: 0.3s ease-in all;
}

.quote__author--all {
  color: var(--dark002);
  font-size: 1.25rem;
  margin-left: var(--x-small);
  margin-bottom: 0;
}

.back__group {
  flex: 1;
  max-width: 30rem;
  margin: var(--x-large) auto 0 auto;
}

.quotes__data {
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: var(--large);
  padding: 0 var(--large);
  padding-left: var(--small);
}

.quotes__data p {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-left: var(--small);
  border-left: 3px solid var(--primary);
}

.back__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: var(--x-small);
  margin-bottom: var(--large);
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 650px) {
  :root {
    font-size: 20px;
  }

  .generate__new {
    order: -1;
  }

  .quote {
    transform: translateY(0);
  }
  .random__quote {
    font-size: var(--small);
  }

  .quote__about {
    padding: var(--large);
  }

  .quote__text {
    border-left: 5px solid var(--primary);
    padding-left: var(--large);
  }

  .quotes__data p {
    border-left: 5px solid var(--primary);
  }
}

@media (hover: hover) {
  .quote__about:hover,
  .quote__about:focus {
    background-color: var(--dark002);
    cursor: pointer;
  }

  .quote__about::after {
    opacity: 1;
  }

  .quote__about:hover .quote__author,
  .quote__about:focus .quote__author {
    color: var(--light001);
  }
}
