* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --primary: #f2994a;
  /* Neutral colors */
  --black001: #333333;
  --black002: #4e5150;
  --black003: #4f4f4f;
  --gray001: #bdbdbd;
  --gray002: #828282;
  --gray003: #e0e0e0;
  --white001: #ffffff;
  --white002: #f2f2f2;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  padding: 2rem 1rem;
  font-weight: 600;
}

img {
  display: block;
}

h1 {
  color: var(--black002);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  color: var(--black002);
}
p,
span {
  color: var(--black001);
}

.receipt__view {
  background-color: var(--white002);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.receipt__item {
  display: flex;
  margin-bottom: 2rem;
}

.item__image {
  overflow: hidden;
  width: 8rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.item__image img {
  width: 100%;
}

.item__details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.item__name,
.item__price {
  color: var(--black002);
}

.item__name {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.item__price {
  display: flex;
  flex: 1;
  font-size: 0.75rem;
}

.item__price p {
  color: var(--black002);
  text-decoration: line-through;
}

.sale__price {
  color: var(--primary);
  font-size: 1rem;
  margin-right: 0.5rem;
}

.item__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray002);
  padding: 0.75rem;
  border-radius: 10px;
}

.item__remove,
.item__add {
  background-color: var(--gray003);
  border-radius: 3px;
}
.item__quantity {
  margin: 0 auto;
}

.receipt__price {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.shipping__price,
.total__price {
  display: flex;
  padding: 0.75rem 0;
  border-top: 1px solid var(--gray001);
}

.shipping__price p,
.total__price p {
  font-size: 0.875rem;
  margin-left: auto;
  color: var(--black001);
}

/* Form section */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.contact__group h3,
.address__group h3 {
  margin-bottom: 1rem;
}

.contact__group {
  margin-bottom: 3rem;
}

.form__input {
  border: 1px solid var(--gray002);
  border-radius: 10px;
  position: relative;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem;
  width: 100%;
  font-size: 1rem;
}

.form__group {
  position: relative;
  margin-bottom: 1rem;
}

.form__image {
  position: absolute;
  top: 2rem;
  left: 0.75rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
}
.wrapper__group {
  width: 100%;
  display: flex;
}

.country__group {
  margin-right: 0.5rem;
}

.country__group,
.postal__group {
  width: 50%;
}
.save__group {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.save__group label {
  margin-bottom: 0;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.cta {
  text-align: right;
  margin-bottom: 3rem;
}

button {
  border-radius: 10px;
  border: 0;
  background-color: var(--primary);
  padding: 1rem 2.5rem;
  color: var(--white001);
  font-size: 1rem;
  font-weight: 600;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--gray002);
  font-size: 0.75rem;
}

footer a:hover {
  color: var(--primary);
}

/* JavaScript error classes */
.error--form {
  border: 3px solid red;
}

.error--message {
}

/* Desktop view */
@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0;
  }
  .section {
    flex: 1;
    max-width: 1080px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }

  .item__add,
  .item__remove {
    cursor: pointer;
  }

  form {
    width: 100%;
    margin-right: 5rem;
  }

  .receipt__view {
    order: 1;
    min-width: 20rem;
    align-self: flex-start;
  }

  button {
    cursor: pointer;
    transition: 0.3s ease-out background-color;
  }
  button:hover {
    background-color: royalblue;
  }
}
